



/* hero::before {
  content: "FRONTEND DEVELOPER FRONTEND DEVELOPER FRONTEND DEVELOPER ";
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  font-size: 6rem;
  color: white;
  opacity: 0.05;
  white-space: nowrap;
  transform: rotate(-20deg);
  pointer-events: none;
  z-index: 1;
} */

@media (max-width: 480px) {
hero::before {
  width: 100%;
  height: 100%;

}  
}


#resetBtn {
  position: fixed;
  bottom: 0px;
  right: 20px;
  padding: 10px 15px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1000;
}




.talent{
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  width: 80%;
  margin-block: 50px;
}
.tal{
display: grid;
grid-template-columns: repeat(1, 1fr);
width: 30%;
margin-inline: auto;
background: #00e676;
border: none;
border-radius: 20px;
padding-block: 20px;
padding-left: 25px;

}
.tall1{
  background: #3744b9;
  width: 90%;
  padding: 20px;
  border-bottom: 3px solid black;
border-left: 3px solid black;

}
.tall2{
background: #b97f13;
width: 90%;
padding: 20px;
  border-bottom: 3px solid black;
border-left: 3px solid black;

}
.tall3{
background: #dd1111;
width: 90%;
padding: 20px;
  border-bottom: 3px solid black;
border-left: 3px solid black;
}
.tall4{
background: #ad0f8b;
width: 90%;
padding: 20px;
  border-bottom: 3px solid black;
border-left: 3px solid black;

}
.len{
display: grid;
grid-template-columns: repeat(1, 1fr);
width: 30%;
margin-inline: auto;
background: #ad0f8b;
border: none;
border-radius: 20px;
padding-block: 20px;
padding-left: 25px;
}
.lent1{
background: #dd1111;
  width: 90%;
  padding: 20px;
  border-top: 3px solid black;
border-right: 3px solid black;
}
.lent2{
background: #b97f13;
width: 90%;
padding: 20px;
height: 100%;
  border-top: 3px solid black;
border-right: 3px solid black;
}
.lent3{
  background: #3744b9;
width: 90%;
padding: 20px;
  border-top: 3px solid black;
border-right: 3px solid black;

}
.lent4{
background: #00e676;
width: 90%;
height: 90%;
padding: 20px;
  border-top: 3px solid black;
border-right: 3px solid black;

}


@media screen {
        .talent{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
    }
    .tal{
    width: 80%;
    margin-inline: auto;

    }
    .len{
          width: 80%;
    margin-inline: auto;
   /* height: 300px; */
    }

}


@media  (max-width: 480px){

}
  /* hr */


/* .js-work {
 justify-self: end;
 text-align: end;
margin-left: 90%;
display: none;
}
.js-work {
    background: #d64848;
    padding: 10px;

}
#message{
    display: none;
}
.js-work h2{
    text-align: center;
    color: #0a0a23;
    display: none;
} */

/* @media (max-width: 480px) {
 .js-work{
    width: 100%;
 }
}  */

