@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
}

.purple{
    background-color: purple;
    display: flex;
    justify-content: space-between;
        width: 80%;
    margin-inline: auto;
    padding: 10px;
color: white;
font-size: 10px;
}
.firstA{
text-decoration: underline;
color: violet;
transition: 0.5s;
}
.firstA:hover{
    color: white;

}
.iconTop{
    display: flex;
    gap:10px;

}
.four{
    border-radius: 50%;
    padding-inline: 3px;
    padding-block: 5px;
    background: white;
    color:rgb(96, 96, 230);
 filter:grayscale(0);
transition: 0.5s;

}
.four:hover{
filter: grayscale(100);
}
@media (max-width: 480px) {
.purple{
 font-size: 5px;
 width: 100%;
}
}
/* hr */
nav{
    display: flex;
    justify-content: space-between;
        width: 80%;
    margin-inline: auto;
    padding-right: 10px;
    padding-block: 10px;
}
.logodiv{
    display: flex;
    gap:5px;
    height: 30px;
}
.flowericon{
    border-radius: 50%;
    padding-inline: 5px;
    padding-block: 5px;
    background: purple;

}
.flowershop{
    /* margin-top: 5px; */
    height: 5px;
}
ul{
       display: flex;
       flex-direction: row;
gap: 20px; 
transition: 0.5s;
position: relative;
inset-block: 0;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #eb8079;
    display: block;
margin: auto;
transition: 0.5s;
}
nav ul li:hover::after{
width: 100%;
}
.menudiv{
    display: none;
}
.closediv{
        display: none;

}
.menu .close{
    display: none;
    visibility: hidden;
}
.icon{
    display: none;
    visibility: hidden;
}
@media (max-width: 480px) {
nav{
        overflow: hidden;
}
    .menu{
visibility: visible;
display: block;
   color:rgb(96, 96, 230);
margin-top: 5px;
margin-inline: 10px;
  cursor: pointer;
  /* position: relative;
  left:40px; */

 }
ul{
    display: none;
    flex-direction: column;
    background: purple;
    margin-top: 40px;
    padding-inline: 20px;
    transition: 0.5s;
    padding-block: 5px;
}
.close{
   color:peru;
 display: block;
}
.flowershop{
    /* font-size: 10px;
    width: 60px; */
    margin-top: 5px;
}
.menudiv{
    display: block;
}
.closediv{
        display: block;

}

}

/* hr */

.firstSection{
    width: 80%;
    margin-inline: auto;
    background-image: url(https://thumbs.dreamstime.com/b/daisies-woman-park-lady-holds-bunch-flowers-spring-scenery-sunny-day-nature-sitting-outside-wears-blue-shirt-385983505.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
height: 80vh;
display: flex;
gap: 20px;
}
.forwriteup{
 display: flex;
 flex-direction: column;
 padding-left: 8%;
 padding-top: 50px;
 width: 50%;
 /* background-color: blue; */
}
.trusteddiv{
    display: flex;
    gap: 10px;
    background: pink;
    position: relative;
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    /* inset:5px; */
    font-size: 12px;
    margin-bottom: 20px;
}
.ultimate{
    font-size: 2em;
    font-weight: 600;
}
.givepurple{
    color: blueviolet;
}
.lorem{
    font-size: 12px;
    opacity: 1;
    font-weight: 800;
    margin-top: 20px;
}

.shopnow{
    display: flex;
    width: 80%;
    gap: 30px;
    margin-block: 30px;
}
.shoparrow{
    background: purple;
    padding: 8px;
    border-radius: 20px;
}
.viewall{
    text-decoration: underline;
    margin-top: 5px;
    color: #fff;
}

@media (max-width: 480px) {
.firstSection{
                display: flex;
        flex-direction: column;
        width: 100%;
        /* padding-left: 10px; */
    }
.forwriteup{
width: 80%;
margin-left: 10px;
text-align: start;
height: 50vh;
/* background: red; */
}
.trusteddiv{
width: 90%;
font-size: 12px;

}
.ultimate{
font-size: 16px; 
width: 50%;
}
.shopnow{
    width: 100%;
    gap: 50px;
    font-size: 16px;
font-size: 12px;
}
.shoparrow{
    padding: 5px;
}
.ratingbig{
    flex-direction: column;
}

.ratings{
    top: 10px;
position: relative;
left: 80px;
}
.rate{
    display: flex;
    gap: 10px;
}

.positions{
    width: 100%;
        position: relative;
        /* bottom: 20vh; */
        left:  55vw; 
        /* background: red; */

}

.securediv{
    font-size: 12px;
    width: 70%;
    position: absolute;
    /* left: -30px; */
}
.fastdelivery{ 
    position: absolute;
    right: 40px;
    bottom:20px;
    font-size: 12px;
    width: 55%;

}
.stamp{
    position: absolute;
 /* bottom:0px; */
}
}


.positions{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 50%;
     /* background: green; */
        position: relative;
}

.securediv{
    display: flex;
    gap: 5px;
    position: absolute;
    background: #fff;
    top:70px;
    right: 100px;
    /* height: 40px; */
    /* margin: 20px; */
    font-size: 13px;
    padding: 10px;
    border-radius: 20px;
} 
.fastdelivery{
        display: flex;
    gap: 5px;
    position: absolute;
    background: #fff;
    bottom:120px;
    font-size: 13px;
    padding: 10px;
    border-radius: 20px;

}
.stamp{
    position: absolute;
    bottom:40px;
    right: 100px;

}
.stamp img{
width: 50px;
height: 50px;
border-radius: 50%;
aspect-ratio: 1;
object-fit: cover;

}




.ratingbig{
    display: flex;
}
.ratingdiv{
    display: flex;
}
.ratingdiv img{
width: 50px;
height: 50px;
border-radius: 50%;
aspect-ratio: 1;
object-fit: cover;
margin-right: -15px;
}
.ratingplus{
    width: 50px;
height: 50px;
border-radius: 50%;
background: #eb8079;
}
.ratings{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* width: 80%; */
    /* background: red; */
    font-size: 12px;

}
.rate{
    display: flex;
    gap: 10px;
}
    /* hr */
.occasions{
    text-align: center;
    width: 80%;
margin-inline: auto;
margin-block: 50px;

}
.shopby{
    font-size: 2rem;
}
.shopby span{
color: purple
}
.firstslide {
  overflow-x: auto;
  width: 80%;
  margin-inline: auto;
}

.slides {
  display: flex;
  gap: 50px;
  padding: 1rem;
}

.slide-item p{
  text-align: center;
      font-weight: 700;
}

.slide-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 480px) {
.shopby{
    font-size: 16px;
}
.firstslide {
width: 100%;
}
.slides {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  /* overflow-x: hidden; */
}

.slide-item {
  flex-shrink: 0;
  scroll-snap-align: center;
  text-align: center;
}

}


/* hr */
.secondsection{
    display: flex;
    width: 80%;
    margin-inline: auto;
    gap:10%;
    /* background: red; */
    margin-top: 50px;

}
.freshcollect{
    width: 45%;
    background-image: url(https://thumbs.dreamstime.com/b/daisies-woman-park-lady-holds-bunch-flowers-spring-scenery-sunny-day-nature-sitting-outside-wears-blue-shirt-385983505.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
height: 50vh;
display: flex;
flex-direction: column;
padding-left: 20px;
padding-top: 20px;
border-radius: 20px;
text-align: left;

}
.purecollection{
    width: 45%;
    background-image: url(https://thumbs.dreamstime.com/b/daisies-woman-park-lady-holds-bunch-flowers-spring-scenery-sunny-day-nature-sitting-outside-wears-blue-shirt-385983505.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
height: 50vh;
display: flex;
flex-direction: column;
border-radius: 20px;
text-align: left;
padding-left: 20px;
padding-top: 20px;
color: white;
}
.discount{
    width: 40%;
    background: #eb8079;
    border-radius: 20px;
    padding: 5px;
}
.lovely{
    font-size: 2rem;
    width: 50%;

}
.secondlorem{
font-size: 12px;
    width: 40%;

}
.shopperu{
    display: flex;
    width: 80%;
    gap: 30px;
    margin-block: 30px;
}
.shopperuarrow{
    background: peru;
    padding: 8px;
    border-radius: 20px;
}
@media (max-width: 480px) {
    .secondsection{
    flex-direction: column;
    gap: 50px;
    }
    .freshcollect, .purecollection{
width: 80%;
margin-inline: auto;
}
.discount{
    width: 80%;
}
.lovely{
    font-size: 2rem;
    width: 80%;

}
.secondlorem{
font-size: 12px;
    width: 60%;

}

}

/* hr */

.aboutus{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-inline: auto;
  margin-block: 50px;
/* background: #eb8079; */
}

.rounding{
    background-image: url(./asset/me.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 50%;
aspect-ratio: 1;
object-fit: cover;
position: relative;
padding-top: 30px;
margin-top: 50px;
}
.ringone{
    width: 80%;
    height: 90%;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
justify-self: center;
padding-top: 100px;
/* padding-bottom: 100px; */

}
.ringtwo{
        width: 20%;
    height: 30%;
    border-radius: 50%;
    border: 2px solid #fff;
padding-top: 100px;
padding: 50px;

}
.center{
    display: flex;
    justify-content: center;
    justify-self: center;
     color: #fff;
}

@media (max-width: 480px) {
.aboutus{
flex-direction: column;
width: 100%;
}
.rounding{
width: 90%;
margin-inline: auto;
}
.aboutme{
    /* background: green; */
    width: 400px;
    margin-inline: auto;
    padding: 10px;
}
.deliver{
    font-size: 16px;
    width: 80%;
}
/* .purplebox {

} */
}

.aboutme{
    /* width: 50%; */
    width:400px;
    margin-top: 50px;
    padding-right: 20px;
}
.abouth3{
    margin-block: 20px;
}
.deliver{
    width: 60%;
    font-size: 2rem;
    color: purple;

}
.thirdlorem{
    color: gray;
}
.purplebox {
    display: flex;
    background: purple;
    padding-inline: 15px;
    border-radius: 20px;
    padding-top: 15px;
    width: 90%;
    height: 100px;
    justify-content: space-between;
    margin-top: 30px;
}
.line{
    width: 2px;
    height: 70px;
    background: gray;
}
.categories{
    padding-inline: 10px;
}
.jenny{
font-family: "Dancing Script", cursive;
font-weight: 900;
margin-block: 50px;
}

/* hr */

.fourthsection{
    width: 80%;
    margin-inline: auto;
    margin-bottom: 30px;

}
.topsellerdiv{
    display: flex;
    justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
}
.topseller{
    font-size: 2rem;

}
.purplecolor{
    color:purple;
}
.viewmepro{
    text-decoration: underline;
    background: purple;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
.bighouseme{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
     gap: 20px;
    padding-left: 20px;
    padding-top: 10px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;


}
.columnflex{
    display: flex;
    flex-direction: column;
}
.columnflex::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.subflex{
        background-image: url(./asset/me.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 10px;
aspect-ratio: 1;
object-fit: cover;
padding-block: 20px;
padding-inline: 10px;
transition: 0.5s;
}
.subflex:hover{
    transform: rotateX(180deg);
}
@media (max-width: 480px) {
.fourthsection{
  width: 100%;
}
.ourproduct, .topsellerdiv{
width: 80%;
margin-inline: auto;
}
.topseller{
    font-size: 16px;

}
}
.percentandicon{
    display: flex;
    justify-content: space-between;
    color: peru;
}
.iconflex{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.firstpercentage{
    height: 30px;
        background: #eb8079;
    padding-inline: 5px;
    padding-top: 3px;
    border-radius: 20px;

}
.percentage{
    background: #eb8079;
    padding: 8px;
    border-radius: 20px;
    margin-top: px;

}

.timingpurple{
    display: flex;
    gap:10px;
    background: purple;
    border-radius: 10px;
    margin-top: 20px;
    width: 90%;
    margin-inline: auto;
    padding: 10px;
}
.purpose{
    color: #fff;
    font-size: 10px;
}
.timeandday span{
    color: blueviolet;
}
.dot{
    margin-top: 8px;
    color: #fff;
}
.subflexnote{
    padding-inline: 1px;
    padding-block: 10px;
}
.stardiv{
    display: flex;
    justify-content: space-between;
}
.stardiv i{
    color: yellow;
}
.bouq{
    opacity: 0.4;
    font-size: 13px;
}
.subflexnote h1{
    font-weight: 700;
}
.pricing{
    display: flex;
    gap: 20px;
}
.oldprice{
    text-decoration: line-through;
    opacity: 0.5;
}

/* hr */

.fifthsection{
    margin-inline: auto;
    width: 80%;
    display: flex;
    gap: 20px;
  height: 80vh; 
  margin-block: 100px;
}
.fifthbg{
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRAILmKfl-J55ISOAOnUSTvCSN9gNu9gzLBdbsFmBfOJFKOWJwBdm7FZ2B1M9Qv_MzTq0&usqp=CAU);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 10px;
aspect-ratio: 1;
object-fit: cover;
height: 100%;
width: 30%;
}
.fifthbg2{
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9ij-mkmuQCV7y0IOpwccGcxj3aee56XboHLlZq7QGsoVgxD7VJFIxze_ZpKj0R-pnmos&usqp=CAU);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 10px;
aspect-ratio: 1;
object-fit: cover;
height: 100%;
width: 30%;
}

.fifthtimebg{
    
                background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQYnDSlWd762vXy-j-De1_4oj6ScXrIFbhLUT5ItDE_d2tyPjbcM6Qf2qwNY-RklqNX1Q&usqp=CAU);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 10px;
aspect-ratio: 1;
object-fit: cover;
height: 100%;
text-align: center;
justify-content: center;
display: flex;
flex-direction: column;
width: 40%;
color: white
}
.fifthtimebg span{
color: purple;
font-weight: 700;
}
.inline{
    border: 2px solid #fff;
    width: 80%;
    height: 90%;
    margin-inline: auto;
    margin-block: 10%;
border-radius: 10px;
}
@media (max-width:480px) {
    .fifthsection{
        width: 100%;
    }
    /* .secondtimepurple span{
font-size: 13px;
} */
}
.secondtimepurple{
    display: flex;
    background: purple;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    margin-inline: auto;
    border-radius: 10px;
    color: gray;
    margin-top: 20px;

}
.secondtimepurple span{
color: black; 
 /* font-size: 2rem; */
}
.getoff{
    margin-block: 10px;
}
.secondshopnow{
    background: purple;
    width: 60%;
    border-radius: 30px;
    padding: 5px;
    margin-inline: auto;
    margin-top: 50px;
}

/* hr */