
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-block: 20px;
    padding-right: 10px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.menu-icon{
    visibility: hidden;
}
.close-icon{
    visibility: hidden;
    font-size: 24px;
    display: none;
    cursor: pointer;

}
.menu-list{
    display: flex;
    gap: 20px;
  
 }



 .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  
  .menu-list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .menu-list li {
    display: flex;
  }
  
  .menu-list li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }
  
  .nav {
    display: flex;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
    visibility: hidden;
  
  
  }
  
  .close-icon {
    font-size: 24px;
    display: none;
    cursor: pointer;
    visibility: hidden;
  
  }
  
  
  @media only screen and (max-width: 768px){
    
  .nav {
      display: none;
  
    }
    .menu-list {
      display: flex;
    flex-direction: column;
  
    }
    .close-icon{
      display: hidden;
      visibility: visible;
  
    }  
    .menu-icon {
        visibility: visible;
    
      }
    
  }
  


.first{
    display: flex;
    justify-content: start;
}
.currency{
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 768px){
    .menu-icon{
        visibility: visible;
    }
    .close-icon{
        visibility: visible;
      
    }
     .menu-list{
        display: flex;
        flex-direction: column;

      
     }
         .house{
          width: 100%;
          margin-inline: 10px;
         }
     .horizontal-scroll {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
      }
      .horizontal-scroll img {
        width: 100vw;
        scroll-snap-align: center;
        flex-shrink: 0;
      }
}
    section{
    width: 80%;
    margin-inline: auto;
}
.nav{
    text-decoration: none;
}
.background-img{
    background-image: url(asset/bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.bg-note{
    padding-top: 150px;
color: aliceblue;
}
.bg-ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
   bottom: 10px;
}


.product{
    margin-top: 20px;
    text-align: start;
}
.product img{
    width: 200px;

}



/* hr */

.similar{
    margin-left: 10%;
    padding-block: 30px;
    font-size: larger;
    font-weight: 900;
}
.house{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 70px;
    width: 80%;
    margin-inline: auto;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#product-name{
   line-height: 30px;
}
.dropdown{
    display: flex;
  padding-block: 7px;
} 

.color{
    margin-top: 7px;
}
.currency{
font-size: 15px;
}
.size{
    font-size: 15px;
      
}
.plus-minus{
    display: flex;
 width: 100px;    
border: 1px solid black;
gap: 30px;
/* padding-inline: 5px; */
margin-left: 7px;
justify-content: center;
}
.sub{
    display: flex;
line-height: 40px;
margin-left: 7px;
}
.add-cart{
    background: #383838;
    color: aliceblue;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.view-cart-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}
.back, .cartt{
   background: #383838;
border: none;
padding: 5px;
border-radius: 5px;
color: #fff;
}
