*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin-bottom: 100px;
}
.sidebar{
position: fixed;
top:0;
left: 0;
width: 260px;
height: 100vh;
background: #fff;
color: gray;
transition: all 0.5s ease;
}
.sidebar.collapsed{
    width: 85px;
}
.sidebar .sidebar-header{
display: flex;
position: relative;
align-items: center;
padding: 25px 20px;
gap:10px;
}
.sidebar-header .header-logo img{
    display: block;
    object-fit: contain;
        width: 50px;
    height: 50px;
    border-radius: 50px;

}
hr{
    opacity: 0.5;
}
.sidebar-header .sidebar-toggler{
    position: absolute;
    right: 19px;
    height: 35px;
    width: 35px;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.5s ease;
}

 .new-menu{
    display: none;
    visibility: hidden;
 }
 .taskmaster{
    color: black;
    font-weight: 600;
 }
 .sidebar.collapsed .new-menu{
    display: block;
    visibility: visible;
}
 .sidebar.collapsed .top-close{
    display: none;
}

.sidebar-header .sidebar-toggler:hover{
    background: #325aeb;
}
.sidebar.collapsed .taskmaster{
    display: none;
} 
.sidebar.collapsed .image{
    display: none;
} 
.sidebar.collapsed .guest-img{
    width: 40px;
    height: 40px;
} 
.sidebar.collapsed .guest-a{
    display: none;
} 
.sidebar.collapsed .guest-h3{
    display: none;
} 
.sidebar.collapsed .sidebar-header{
    margin-right: 15px;
} 
 .guest{
    display: flex;
padding: 25px 20px;
       gap:10px;
}
.guest-div{
    margin-top: 5px;
    align-items: start;
    flex-wrap: wrap;
    align-content: start;
    justify-content: start;
 /* overflow-x: auto; */
}
.guest-h3{
    font-size: 12px;
    /* color:red; */
}
.guest-a{
    font-size: 10px;
}
.guest-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #325aeb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

/* hr */
.sidebar-nav .nav-list{
list-style:none;
display: flex;
gap: 4px;
padding:0 15px;
flex-direction: column;
transform: translateY(15px);
transition: 0.5s ease;
}
 .sidebar-nav .primary-nav{
         height:calc(100vh - 245px); 
    /* overflow-y: auto;
    padding-bottom:50px;
    scrollbar-width: thin;
    scrollbar-color:transparent transparent; */
} 
/* .sidebar-nav .primary-nav:hover{
    scrollbar-color:#eef2ff transparent;
} */
/* .sidebar.collapsed .sidebar-nav .primary-nav{
    overflow-y: unset;
    transform: translateY(65px);
} */

.sidebar-nav .nav-item .nav-link{
    color: gray;
    display: flex;
    gap: 10px;
    font-size: 13px;
    white-space: nowrap;
    padding: 11px 15px;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
}
.sidebar-nav .nav-item:is(:hover, .open) > .nav-link:not(.dropdown-title){
    border: none;
    border-radius: 10px;
    background-color: darkcyan;
    color: #fff;
}
.sidebar-nav .nav-link :where(.nav-label, .dropdown-icon) {
    transition: opacity 0.3s ease;
}
.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon) {
    opacity: 0;
    pointer-events: none;
}
.sidebar-nav .secondary-nav{
    position: relative;
    bottom: 8px;
    width: 100%;
    /* background: #020718; */
}

/* hr */   


.sidebar-nav .nav-item {
    position: relative;

}
/* .sidebar-nav .dropdown-container .dropdown-icon{
    margin:0 -4px 0 auto;
    transition: transform 0.4s ease, opacity 0.3s 0.2s ease;
}
.sidebar.collapsed .dropdown-container .dropdown-icon{
    transition: opacity 0.3s 0s ease; 
}
.sidebar-nav .dropdown-container.open .dropdown-icon{
 transform: rotate(180deg);
} */
.sidebar-nav .dropdown-menu {
    height: 0;
    overflow-y:hidden;
    list-style: none;
    padding-left: 15px;
    transition: height 0.4s ease;
}
.sidebar.collapsed .dropdown-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    opacity:0;
    height: auto!important;
    overflow-y:unset;
    pointer-events: none;
    background: #151a2e;
    padding-right: 10px;
    border-radius: 0 10px 10px 0;
    transition: 0s;
}
/* .sidebar.collapsed .dropdown-menu:has(.dropdown-link){
    padding: 7px 10px 7px 24px;

} */
.sidebar.collapsed .nav-item:hover .dropdown-menu{
 opacity: 1;
 pointer-events: auto;
 transform: translateY(12px);
 transition: 0.4s ease;
}
.dropdown-menu .nav-item .nav-link{
    padding: 9px 15px; 
}
.sidebar.collapsed .dropdown-menu .nav-link {
padding: 7px 15px;
}
.dropdown-menu .nav-item .dropdown-title {
    display: none;
}
.dropdown-menu:has(.dropdown-link) .nav-item .dropdown-title{
    font-weight: 500;

}
.sidebar.collapsed .dropdown-menu .nav-item .dropdown-title{
    display: block;
}

.sidebar-menu-button{
    display: none;
}
@media (max-width: 768px){
  .sidebar-menu-button{
    display: block;
    position: fixed;
    left: 20px;
    top: 20px;
    border: none;
    color: #151a2e;
    background: none;
    cursor: pointer;
}
.sidebar-menu-button i{
    font-size: 1.8rem;
}

    .sidebar.collapsed{
        width: 260px;
        left:-260px;
    }
    .sidebar.collapsed .sidebar-header .sidebar-toggler{
        transform: none;
    }
    .sidebar.collapsed .sidebar-nav .primary-nav{
        transform: translateY(15px);
    }
}
