  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
body{
  font-family: "Inter", sans-serif;
      background-color: #f3f4f8;
}
 a{
 color: gray;
} 
/* .sidebar-header .sidebar-toggler{
  color: yellow;
      right: 15px;
      font-size: 20px;
} */
.sidebar-header .taskmaster{
  font-size: 16px;
}
.sidebar-nav .secondary-nav a{
color: red;
}
@media (min-width: 768px){
main{
      width: 88%;
    margin-left: 10%;
}
.header-click{
 width: 75%;
 position: relative;
 left: 10%;
 right: 5%;
 flex-wrap: wrap;
    transition:  0.5s ease;
}

}

@media (max-width: 768px){
main{
  width: 90%;
  margin-inline: auto;
  margin-top: 25%;
}
.header{
display: flex;
position: fixed;
width: 100%;
gap: 10px;
padding-left: 7%;
padding-block: 10px;
background: #fff;
top:0px;
z-index: 10;
    border-bottom: 1px solid rgb(156, 151, 151);
}
}
.head-title{
  display: flex;
  gap: 10px; 
}
.task-title{
  font-weight: 600;
  margin-top: 8px;
}
.head-title img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

@media (min-width: 768px){
  .head-title{
  display: none;
}
.good-div{
margin-top: 50px;
}

}

/* hr */
.good-div{
margin-bottom: 40px;
}

.good-h1{
  font-weight: 700;
  font-size: 2rem;
}
.goodmorning-note{
  opacity: 0.7;
}
/* hr */
.box-section{
  display: flex;
  gap: 30px;
  /* flex-wrap: wrap;
  align-items: start;
  align-content: start; */
}
.box-div{
  width: 23%;
  height: 200px;
border-radius: 10px;
background: #fff;
padding: 30px;
display: flex;
flex-direction: column;
justify-content: space-between;
transition: 0.5s;
border: 1px solid rgb(219, 202, 202);

}
.box-div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
@media (max-width: 768px){
.box-section{
  flex-direction: column;
}
.box-div{
  width: 100%;
}
}
.taskes{
  display: flex;
  justify-content: space-between;
}
.box-icon{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(96, 96, 226);
  align-content: center;
  text-align: center;
}

.taskes-p{
font-size: 20px;
font-weight: 800;
}
.completed{
  opacity: 0.7;
    font-size: 13px;

}
.completed-span{
  font-size: 16px;
}

/* hr */
.section-last{
  display: flex;
  width: 100%;
  gap:30px;
  margin-top: 30px;
}
.last-first{
  width: 50%;
  background: #fff;
  border-radius: 10px;
border: 1px solid rgb(218, 209, 209);
padding: 30px;
  height: 65vh;
overflow-y: auto;
}
.tasks-list{
 text-align: start;
 font-weight: 400;
 margin-top: 10px;
}
.textarea-list{
  opacity: 0.8;
}
.recent{
  display: flex;
  gap:10px;
}
.recent i{
  color: blue;
  margin-top: 5px;
}
.center{
position: relative;
top: 30%;
  text-align: center;
  opacity: 0.5;
}

.last-last{
  width: 50%;
  background-color: #fff;
border-radius: 10px;
border: 1px solid rgb(218, 209, 209);
padding: 20px;
  height: 65vh;
}
.last-last-first{
  display: flex;
margin-block: 10px 20px;
gap: 10px;
}
.last-last-second{
    display: flex;
border: 1px solid rgb(218, 209, 209);
margin-top: 20px;
padding: 20px;
font-size: 13px;
gap:10px;
border-radius: 10px;
transition: 0.5s;
cursor: pointer;
}
.last-last-second:hover{
  background-color: aqua;
}
.icon-box{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(115, 199, 202);
  align-content: center;
  text-align: center;
}
.create-newh3 p{
opacity: 0.5;
}
.create-newh3 h3{
cursor: pointer;
}
@media (max-width: 768px){
.section-last{
  flex-direction: column;
  width: 100%;
}
.last-first{
  width: 100%;
}
.last-last{
  width: 100%;
}
.center{
  top: 5%;
}
}
@media (max-width: 768px){
.last-last{
  height: 75vh;

}
}
/* hr */
/* .popup-fixed{
position: fixed;
} */
.popup-container{
  border: 1px solid black;
  width: 30%;
  margin-inline: auto;
  position: absolute;
  top: 30%;
  left:40%;
  display: none;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  transition: 0.5s;
  border-radius: 10px;
}
.introduction{
  text-align: start;
  margin-bottom: 30px;
  line-height: 30px;
}
.introduction p{
font-size: 13px;
}
.introduction h1{
font-weight: 800;
}
.title-form{
  display: flex;
  flex-direction: column;
}
#title-input{
  width: 100%;
  padding: 10px;
  background: #dfe2eb;
  border-radius: 10px;
  font:inherit;
    border: none;

}
#content{
  width: 100%;
  padding: 10px;
  background: #dfe2eb;
  border-radius: 10px;
  font:inherit;
  height: 100px;
  border: none;
}
.content-label{
  margin-top: 20px;
}
.cancel-createnote{
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 30px;

}
#reset{
border: 1px solid rgb(218, 209, 209);
cursor: pointer;
padding: 10px;
border-radius: 5px;
transition: 0.5s;
  border: none;

}
#reset:hover{
  background-color: aqua;
}
#submit-note{
cursor: pointer;
background-color: cornflowerblue;
padding: 10px;
border-radius: 5px;
transition: 0.5s;
  border: none;
}
#submit-note:hover{
  background-color: darkturquoise;
}
.intro-close{
  text-align: end;
  font-size: 20px;
}
@media (max-width: 768px){
.popup-container{
 width: 80%;
 left: 10%;
 top: 50%;
}
.introduction{
  text-align: center;
}

}