.animation{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.box1{
        width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
 top: 40vh;
 left: 5%;
 animation: box1 5s ease 0s infinite normal none;
}
@keyframes box1 {
    0%{
            border: 3px solid rgb(230, 230, 236);
    }
    50%{
            border: 3px solid rgb(168, 168, 172);
            transform: translateY(10px);
    }
    100%{
            border: 3px solid rgb(202, 202, 204);
    }
}
.box2{
        width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
 top: 60vh;
 left: 8%;
 animation: box2 5s ease 0s infinite normal forwards;
}
@keyframes box2 {
    0%{
               background: radial-gradient(rgb(230, 230, 243) 10%, rgb(178, 178, 241) 50%, rgb(106, 106, 223) 49%);
            }
    50%{
                background: radial-gradient(rgb(147, 147, 194) 20%, rgb(178, 178, 241) 50%, rgb(106, 106, 223) 49%);
                     backdrop-filter:blur(25px);
            }
            75%{
                background: radial-gradient(rgb(49, 49, 158) 30%, rgb(178, 178, 241) 50%, rgb(106, 106, 223) 49%);
        backdrop-filter:blur(25px);
            }
    100%{
                        background: transparent;
            }
}
.box3{
        width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
 top: 90vh;
 left: 12%;
 animation: box3 5s ease 0s infinite reverse backwards;
}
@keyframes box3 {
    0%{
                background: radial-gradient(circle at 50% 50%, #d4cfcf, #e2d8d8);  
              }
    50%{
                background: radial-gradient(circle at 30% 30%, #eb7777, #cabfbf); 
               }
    75%{
                background: radial-gradient(circle at 40% 40%, #eb4c4c, #dd8c8c);   
    }
    100%{
                background: transparent;
             }
            }
.box4{
        width: 50px;
    height: 50px;
    border-radius: 50%;
        background-color: red;
    font-size: 40px;
    position: absolute;
 top: 40vh;
 right: 10%;
  animation: box3 5s ease 0s infinite reverse backwards;
}
.box5{
        width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #0c17ac;
        font-size: 40px;
    position: absolute;
 top: 40vh;
 right: 30%;
 animation: box5 5s ease 0s infinite reverse backwards;
}
@keyframes box5 {
    0%{
                    transform: translateY(30px);
    }
    50%{
            transform: translateY(10px);
    }
    100%{
                    transform: translateY(30px);
    }
}
.box6{
        width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    position: absolute;
 top: 70vh;
 right: 30%;
 animation: name duration timing-function delay iteration-count direction fill-mode;
}
.box7{
        width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
 top: 90vh;
 right: 10%;
 animation: box1 5s ease 0s infinite normal none;
}
@media (max-width: 768px) {
.animation{
display:none;
}
}

/* hr */
.welcome{
    width:30%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-inline: auto;
margin-top: 100px;
padding-top: 30px;
border-radius: 10px;
}
.first-div{
    line-height: 40px;
text-align: center;
margin-bottom: 50px;
}
.logo{
    justify-self: center;
align-items: center;
}
@media (max-width: 768px) {
.welcome{
        width:90%;
}    
}

/* hr */
.login-signup{
display: flex;
justify-content: space-between;
background-color: rgb(239, 243, 243);
width: 90%;
margin-inline: auto;
border-radius: 10px;
padding-block: 7px;
margin-bottom: 40px;
}
.link-item{
border-radius: 5px;
padding:2px;
width: 40%;
text-align: center;
margin-inline: 10px;
}

/* hr */
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-inline: auto;
    margin-bottom: 40px;
    gap:10px;
    position: relative;
}
label{
    font-size: 15px;
}
input{
border: 1px solid rgb(175, 168, 168);
    width: 100%;
padding: 10px 40px;
border-radius: 10px;
margin-bottom: 20px;
background-color: #fff;
}
.new-input{
    border: 2px solid rgb(116, 189, 218); 
box-shadow: rgb(50, 170, 218) 0px 3px 8px;
    transition: 0.5s;
}
.icon{
    opacity: 0.5;
    font-size: 20px;
}
.icn{
    position: absolute;
    top:14%;
    left:10px;
    font-size: 20px;
}
.icn2{
        position: absolute;
    bottom: 47%;
    left:10px;
        opacity: 0.5;
cursor: pointer;
font-size: 20px;
}
.icon3{
    color:rgb(99, 99, 173);
    display: none;
 opacity: 0.5;
cursor: pointer;
}

/* hr */
.help-next{
display: flex;
    width: 100%;
    margin-inline: auto;
    margin-block:30px;
    gap: 15px;
 justify-content: space-between;
}
.icon-help{
    justify-content: center;
    display: flex;
    gap: 10px;
    background-color: rgb(230, 227, 227);
    transition: 0.5s;
}
.icon-help, .submit{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}
.icon-help:hover{
    border: 2px solid rgb(230, 227, 227);
    background: transparent;
}
.submit{
    border: none;
background: linear-gradient(to right, rgb(235, 177, 136), rgb(231, 143, 79), chocolate);
transition: 0.5s;
}
.submit:hover{
background: linear-gradient(to left, rgb(235, 177, 136), rgb(231, 143, 79), chocolate)
}
.agree{
    text-align: center;
        font-size: 14px;
    padding-bottom: 30px;
    padding-inline: 30px;
    line-height: 20px;
}
.agree a{
    color: blue;
}
/* hr */
footer{
    text-align: center;
    margin-block: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap:5px
}
.line{
    width: 2px;
    background: gray;
    height: 15px;
    margin-top: 3px;
}

/* hr */
.small{
    font-size: 10px;
    margin-top: -20px;
}
.name-icon{
    position: absolute;
    top:10%;
    left:10px;
    font-size: 20px;
}
.email-icon{
    position: absolute;
    top:35%;
    left:10px;
    font-size: 20px;
}
.lock-icon{
        position: absolute;
    top: 60%;
    left:10px;
        opacity: 0.5;
cursor: pointer;
font-size: 20px;
}
.icon3{
    color:rgb(99, 99, 173);
    display: none;
 opacity: 0.5;
cursor: pointer;
}
@media (max-width: 480px) {
    .submit{
        font-size: 13px;
        padding-inline: 20px;
    }
    .lock-icon{
        top: 59%;
    }
.email-icon{
    top:34%;
    }
}
@media (max-width: 320px) {
    footer{
        font-size: 10px;
    }
    .line{
        height: 10px;
    }
    footer i{
        margin-top: 0px;
    }
}