  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
button{
    cursor: pointer;
}
body{
  font-family: "Inter", sans-serif;
      background-color: #f3f4f8;
}
@media (min-width: 768px){
main{
      width: 88%;
    margin-left: 10%;
}
.header-click{
 width: 75%;
 position: relative;
 left: 10%;
 right: 5%;
 flex-wrap: wrap;
    transition:  0.5s ease;
}
}
@media (max-width: 768px){
main{
  width: 90%;
  margin-inline: auto;
  margin-top: 25%;
}
.header{
display: flex;
position: fixed;
width: 100%;
gap: 10px;
padding-left: 7%;
padding-block: 10px;
background: #fff;
top:0px;
z-index: 10;
    border-bottom: 1px solid rgb(156, 151, 151);
}
}
.head-title{
  display: flex;
  gap: 10px;
}
.task-title{
  font-weight: 800;
  margin-top: 15px;
}
.head-title img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
@media (min-width: 768px){
  .head-title{
  display: none;
}
}
 
/* hr */
main{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     background-color: #fff;
 border-radius: 20px;
}
.top-management{
  display: flex;
  gap:10px;
  padding: 20px;
   margin-top: 40px;
    border-bottom: 1px solid rgb(156, 151, 151);
}
.top-management img{
  width: 50px;
  height: 50px;
}
/* hr */
.section-of-three{
  display: flex;
  flex-direction: column;
  margin-inline: 5%;
margin-block: 40px;
width: 90%;

}
.login-signup{
display: flex;
justify-content: space-between;
background-color: rgb(239, 243, 243);
width: 30%;
margin-bottom: 30px;
border-radius: 10px;
padding: 5px;
}
.link-item{
border-radius: 5px;
padding:4px;
width: 45%;
text-align: center;
justify-content: center;
margin-inline: 2px;
font-size: 13px;
display: flex;
gap: 5px;
}
@media (max-width: 768px){
  .login-signup{
  width: 60%;
  }
}
.section-row{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.power h1{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 700px;
}
.generate{
    display: flex;
    background: blue;
    width: 20%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.second-login-signup{
    display: flex;
justify-content: space-between;
background-color: rgb(239, 243, 243);
width: 35%;
margin-block: 30px;
border-radius: 10px;
padding: 5px;
}
.second-link-item{
    border-radius: 5px;
padding:4px;
width: 50%;
text-align: center;
justify-content: center;
margin-inline: 2px;
font-size: 13px;
display: flex;
gap: 5px;
}
@media (max-width: 768px){
  .second-login-signup{
  width: 80%;
  }
  .generate{
    width: 35%;
  }
}
.dotted{
  border: 3px dashed gray;
  height: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 10px;
  background: rgb(248, 247, 247);
}
.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid gray;
}