  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  font-family: "Inter", sans-serif;
      background-color: #f3f4f8;
       visibility: hidden;
  opacity: 0;
}
body.ready {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s ease-in;
}
@media (min-width: 768px){
main{
      width: 88%;
    margin-left: 10%;
}
.header-click{
 width: 75%;
 position: relative;
 left: 10%;
 right: 5%;
 flex-wrap: wrap;
    transition:  0.5s ease;
}

}

@media (max-width: 768px){
main{
  width: 90%;
  margin-inline: auto;
  margin-top: 25%;
}
.header{
display: flex;
position: fixed;
width: 100%;
gap: 10px;
padding-left: 7%;
padding-block: 10px;
background: #fff;
top:0px;
z-index: 10;
    border-bottom: 1px solid rgb(156, 151, 151);
}
}
.head-title{
  display: flex;
  gap: 10px;
}
.task-title{
  font-weight: 800;
  margin-top: 15px;
}
.head-title img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

@media (min-width: 768px){
  .head-title{
  display: none;
}
}
 
/* hr */
main{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     background-color: #fff;
 border-radius: 20px;
}
.top-management{
  display: flex;
  gap:10px;
  padding: 20px;
   margin-top: 40px;
    border-bottom: 1px solid rgb(156, 151, 151);
}
.top-management img{
  width: 50px;
  height: 50px;
}
/* hr */
.section-of-three{
  display: flex;
  flex-direction: column;
  margin-inline: 5%;
  width: 90%;
/* background: red; */
margin-block: 40px;

}
.login-signup{
display: flex;
justify-content: space-between;
background-color: rgb(239, 243, 243);
width: 30%;
margin-bottom: 30px;
border-radius: 10px;
padding: 5px;

}
.link-item{
border-radius: 5px;
padding:4px;
width: 45%;
text-align: center;
justify-content: center;
margin-inline: 2px;
font-size: 13px;
display: flex;
gap: 5px;
}
@media (max-width: 768px){
  .login-signup{
  width: 90%;
    font-size: 8px;
  }
  .link-item{
    width: 50%;
  }
}

.conbine{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.conbine-row{
  display: flex;
  gap:40px;  
}
.lined{
  width: 1px;
  height: 40px;
  background-color: rgb(223, 219, 219);
}
.conbine-sub{
text-align: center;
}
.conbine-pcount{
  font-size: 24px;
  font-weight: 700;
}
.conbine-last-sub{
  background: blue;
  gap:8px;
  display: flex;
  margin-top: 10px;
  align-self: center;
  padding: 8px;
  border-radius: 10px;
}
@media (max-width: 768px){
.conbine-row{
gap: 10px;
font-size: 13px;
}
.conbine-last-sub{
  font-size: 13px;
  gap:2px;
  margin-top: 10px;
}
}
/* hr */
.dotted{
  border: 3px dashed gray;
  height: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 10px;
  background: rgb(248, 247, 247);
}
.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid gray;
}
button{
    cursor: pointer;
}
@media (max-width: 768px){
  .last-p{
     font-size: 13px;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  }
}
